.outer-center {
  /* background-color: #95afba; */
}
.inner-center {
  /* background-color: #d5e1a3; */
  display: flex; /* ★ */
  height: 300px;
  align-items: center; /* ★ */
}
.square {
  background-color: ivory;
  width: 300px;
  height: 300px;
}
.between-class-RTC {
  height: 100px;
}

.deep {
  z-index: -100;
}

.square {
  width: fit-content;
}
