#theBiggestDiv {
  margin: 0px auto;
  width: 475px;
  height: 300px;
  border-color: rgb(224, 210, 83);
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.col-sm-10 {
  margin: 0 auto;
}

#accountBox {
  text-align: center;
}

#passwordBox {
  text-align: center;
}

#accountinput {
  width: 65%;
}
#passwordinput {
  width: 65%;
}

#above-space {
  width: max-content;
  height: 100px;
}

.betweenAccountPassword {
  width: max-content;
  height: 25px;
}

#button_div {
  width: 80px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}
#between-login-account {
  width: max-content;
  height: 20px;
}

#button_login {
  border-radius: 10px;
  border-color: dodgerblue;
  position: center;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
