<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="逢甲大學 iOS Club 為台灣第一個與蘋果合作之社團，希望能透過逢甲 RTC 區域教育培訓中心，讓本社團之學生能夠充分利用學校資源，培養程式設計的基本能力與邏輯觀念。本社團將會規劃許多程式開發課程，從基本的邏輯觀念，到讓同學自行創意發想 App。希冀100%的社員都對 App 有基礎概念，並能熟練程式設計，甚至精熟這項領域。"
    />
    <title>dayOff</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.14.4/dist/sweetalert2.all.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/button-style.css" />
    <style>
      body {
        font-family: "LiHei Pro Medium", Comic Sans MS, arial, helvetica,
          sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- <h1>{{account}}'s home</h1> -->
    <header>
      <div class="container logo">
        <nav
          class="navbar navbar-expand-lg navbar-light navbar-collapse-center navbar-center"
        >
          <a href="#">
            <img
              src="../static/img/logo_black.png"
              alt="iOSClub"
              id="logo_black"
            />
          </a>
        </nav>
        <div class="container top-nav">
          <nav class="navbar main-nav navbar-expand-lg navbar-light">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a href="/class_information" class="nav-link">社課資訊</a>
              </li>
              <li class="nav-item">
                <a href="announcement" class="nav-link">社團公告</a>
              </li>
              <li class="nav-item">
                <a href="/active_information" class="nav-link">活動資訊</a>
              </li>
              <li class="nav-item dropdown member_dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  社員專屬
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/dayOff">請假</a>
                  <a class="dropdown-item" href="/class_resource">社課資源</a>
                  <a class="dropdown-item" href="/device_borrowed">設備借用</a>
                </div>
              </li>
              <li class="nav-item dropdown manager_dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  幹部專屬
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/Audit_DayOff">請假審核</a>
                  <a class="dropdown-item" href="/Audit_borrowed"
                    >設備借用審核</a
                  >
                  <a class="dropdown-item" href="/return_device_outer"
                    >設備歸還</a
                  >
                  <a class="dropdown-item" href="/update_class_resource"
                    >上傳社課資源</a
                  >
                  <a class="dropdown-item" href="/attendance">出席率報表</a>
<!--                  <a class="dropdown-item" href="#">設備現況更新</a>-->
                  <a class="dropdown-item" href="https://drive.google.com/drive/u/2/folders/1Zyu7uP_juH1TwYOBklKAir4bqH-ShbHB">社課錄影</a>
                  <!-- 以上為幹部功能 -->
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light auto-hide-header"
        >
          <img
            src="../static/img/icon_head.png"
            alt="iOSClub_icon"
            style="width: 3%;"
          />
          <a
            class="navbar-brand"
            href="#"
            style="padding-left: 10px; margin-left: 12px;"
            >iOS Club</a
          >
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/class_information">社課資訊</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="announcement">社團公告</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/active_information">活動資訊</a>
              </li>
              <li class="nav-item dropdown member_dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  社員專屬
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/dayOff">請假</a>
                  <a class="dropdown-item" href="/class_resource">社課資源</a>
                  <a class="dropdown-item" href="/device_borrowed">設備借用</a>
                </div>
              </li>
              <li class="nav-item dropdown manager_dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  幹部專屬
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/Audit_DayOff">請假審核</a>
                  <a class="dropdown-item" href="/Audit_borrowed"
                    >設備借用審核</a
                  >
                  <a class="dropdown-item" href="/return_device_outer"
                    >設備歸還</a
                  >
                  <a class="dropdown-item" href="/update_class_resource"
                    >上傳社課資源</a
                  >
                  <a class="dropdown-item" href="/attendance">出席率報表</a>
<!--                  <a class="dropdown-item" href="#">設備現況更新</a>-->
                  <a class="dropdown-item" href="https://drive.google.com/drive/u/2/folders/1Zyu7uP_juH1TwYOBklKAir4bqH-ShbHB">社課錄影</a>
                  <!-- 以上為幹部功能 -->
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="container" style="height: 35px;"></div>
      <form action="" id="form-context" style="text-align: center;">
        <p class="justify-content-end">
          請假日期：
          <input id="input_date" type="date" />
        </p>
        <p>
          假別：
          <select name="請假" id="day-off">
            <option value="personal-leave">事假</option>
            <option value="sick-leave">病假</option>
            <option value="menstrual-leave">生理假</option>
          </select>
        </p>
        <p>
          請假原因：
          <textarea
            id="input_reason"
            name="textarea"
            rows="3"
            cols="30"
            style="font-size: 16px;"
          ></textarea>
        </p>
        <input id="input_account" type="hidden" value="{{account}}" />
      </form>
      <section id="intro">
        <div id="intro-content" class="center-content">
          <div class="center-content-inner">
            <div class="content-section content-section-margin">
              <div class="content-section-grid clearfix">
                <a id="btn_dayOff" href="#" class="button nav-link">
                  <div class="bottom"></div>

                  <div class="top">
                    <div class="label">我要請假</div>

                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div style="height: 150px;"></div>
    <hr class="gradiant" />
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align: center;">
        <div class="row">
          <div class="col-4">
            <a href="https://www.facebook.com/FCU.iOSClub/?ref=bookmarks">
              <img
                src="../static/img/icon/facebook.png"
                alt="fb"
                style="width: 15%; margin-right: 0px;"
              />
              <p>facebook</p>
            </a>
          </div>
          <div class="col-4">
            <a href="https://www.instagram.com/fcu.iosclub/?hl=zh-tw">
              <img
                src="../static/img/icon/instagram.png"
                alt="ig"
                style="width: 15%; margin-right: 0px;"
              />
              <p>instagram</p>
            </a>
          </div>
          <div class="col-4">
            <a href="https://iosclub.tw/">
              <img
                src="../static/img/icon/iosclub.png"
                alt="iosclub"
                style="width: 15%;"
              />
              <p>iOS Club</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div style="height: 30px;"></div>
  </body>
</html>
<script src="../static/js/tmp.js"></script>
<script src="../static/js/dayOff.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/dayOff.css" />
