<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="逢甲大學 iOS Club 為台灣第一個與蘋果合作之社團，希望能透過逢甲 RTC 區域教育培訓中心，讓本社團之學生能夠充分利用學校資源，培養程式設計的基本能力與邏輯觀念。本社團將會規劃許多程式開發課程，從基本的邏輯觀念，到讓同學自行創意發想 App。希冀100%的社員都對 App 有基礎概念，並能熟練程式設計，甚至精熟這項領域。"
    />
    <title>Introduce</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/2in1.css">
    <link rel="stylesheet" href="../static/css/inputDesign.css" />
    <link rel="stylesheet" href="../static/css/button-style.css" />
    
  </head>
  <body>
    <!-- <h1>{{account}}'s home</h1> -->
      <div class="container logo">
        <nav
          class="navbar navbar-expand-lg navbar-light navbar-collapse-center navbar-center"
        >
          <a>
            <img
              src="../static/img/logo_black.png"
              alt="iOSClub"
              id="logo_black"
            />
          </a>
        </nav>
    <div class="container">
      <form action="" class="new_form">
        <form>
          <div class="radiobtn">
            <input type="radio" id="huey"
                   name="drone" value="huey" checked />
            <label for="huey">Male</label>
          </div>
        
          <div class="radiobtn">
            <input type="radio" id="dewey"
                   name="drone" value="dewey" />
            <label for="dewey">Female</label>
          </div>
        </form>
        <div class="between_2in1"></div>
        <div class="form__group field">
          <input
            type="date"
            class="form__field"
            placeholder="Name"
            name="name"
            required
          />
          <label class="form__label">生日</label>
        </div>
        <div class="form__group field">
          <input
            type="email"
            pattern="[a-zA-Z0-9]+@[a-zA-Z0-9._]+"
            class="form__field"
            placeholder="email"
            name="email"
            required
          />
          <label class="form__label">Email</label>
        </div>
        <div class="form__group field">
          <input
            type="password"
            class="form__field"
            placeholder="Name"
            name="name"
            required
          />
          <label class="form__label">舊密碼</label>
        </div>
        <div class="form__group field">
          <input
            type="password"
            class="form__field"
            placeholder="Name"
            name="name"
            required
          />
          <label class="form__label">新密碼</label>
        </div>
        <div class="form__group field">
          <input
            type="password"
            class="form__field"
            placeholder="Name"
            name="name"
            required
          />
          <label class="form__label">再次輸入新密碼</label>
        </div>
      </form>
      <section id="intro" style="margin-top: 50px;">
        <div id="intro-content" class="center-content">
          <div class="center-content-inner">
            <div class="content-section content-section-margin">
              <div class="content-section-grid clearfix">
                <a href="#" class="button nav-link">
                  <div class="bottom"></div>

                  <div class="top">
                    <div class="label">OK</div>

                    <div class="button-border button-border-left"></div>
                    <div class="button-border button-border-top"></div>
                    <div class="button-border button-border-right"></div>
                    <div class="button-border button-border-bottom"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
<script src="../static/js/enterIntroduce.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="../static/css/enterIntroduce.css"
/>
