<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>log in</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/log_in.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/log_in.css" />
  </head>
  <body>
    <div class="container" id="above-space"></div>
    <div class="container" id="theBiggestDiv">
      <div>
        <div class="betweenAccountPassword"></div>
        <h1>登入</h1>
        <div class="container" id="between-login-account"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-10">
              <form name="accpass">
                <div class="container" id="accountBox">
                  帳號：<input type="text" id="accountinput" name="account" />
                </div>
                <div class="betweenAccountPassword"></div>
                <div class="container" id="passwordBox">
                  密碼：<input
                    type="password"
                    id="passwordinput"
                    name="password"
                  />
                </div>
                <div class="betweenAccountPassword"></div>
                <div id="button_div">
                  <input
                    type="submit"
                    id="button_login"
                    onclick="login()"
                    value="登入"
                  />
                </div>
              </form>
            </div>
          </div>
          <div style="height: 10px;"></div>
          <div>
            <p class="text-center">
              還沒有帳號？
              <a href="../templates/sign_up.html">一鍵加入 iOSClub</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
