<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
  </head>
  <body>
    <div class="container" id="above-space"></div>
    <div class="container" id="theBiggestDiv">
      <div>
        <div class="betweenAccountPassword"></div>
        <h1>登入</h1>
        <div class="container" id="between-login-account"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-10">
              <form name="accpass">
                <div class="container" id="accountBox">
                  <label for="input_account">帳號：</label><input type="text" id="input_account" name="account" />
<!--                  here-->
                </div>
                <div class="betweenAccountPassword"></div>
                <div class="container" id="passwordBox">
                  <label for="input_pwd">密碼：</label><input type="password" id="input_pwd" name="password"/>
                </div>
                <div class="betweenAccountPassword"></div>
                <div id="button_div">
                  <input type="button" id="btn_login" value="登入"/>
                </div>
                <input type="hidden" id="next" name="next" value="{{ request.args.get('next', '') }}"/>
              </form>
            </div>
          </div>
          <div style="height: 10px;"></div>
          <div>
            <p class="text-center">
              還沒有帳號？
              <a href="../templates/sign_up.html">一鍵加入 iOSClub</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/jquery-3.5.0.min.js"></script>
    <script src="../static/js/login.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
