<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="../static/js/jquery-3.5.0.min.js"></script>
    <script>
        $(document).ready(function() {
            let url = null
            function post(){
                let data = $('#data').val()
                jQuery.ajax({ //post form資料 抓取json檔案
                    type:"POST",
                    url: url,
                    data: JSON.stringify({'data':data}), //post form
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(res) { //連到伺服器
                        console.log(res);
                        let table = $('#table')
                        let result_title = $('#result_title')
                        $('#result_div').show();
                        if(res['result'] === "no"){ //sql no data
                            result_title.html("No such file");
                            table.hide();
                        }else{
                            result_title.html("Results here:");
                            table.show();
                            table.html(res['result'])
                        }
                    },
                    fail:function () { //沒連到伺服器
                        $('#result_div').hide();
                        console.log('error');
                    }
                });
                //return false; //讓她不會reload
            }
            $('#btn_name').click(function () {
                url = '/searchName';
                post()
            })
            $('#btn_sql').click(function () {
                url = '/query';
                post()
            })

        });
    </script>
</head>
<body>
    <div>
        <h1>Search Name or Run SQL Query</h1>
        <form id="form_search">
            <label for="data">Enter here:</label><br>
            <input type="text" id="data"><br>
            <input id="btn_sql" type="button" value="Run SQL">
            <input id="btn_name" type="button" value="Search Name">
        </form>
    </div>
    <div id="result_div" style="display: none">
        <p id="result_title"></p>
        <div id="table"></div>
    </div>
</body>
</html>

