<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="../static/js/jquery-3.5.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#btn_login').click(function() {
                let name = $('#name').val();
                let pws = $('#pws').val();
                jQuery.ajax({ //post form資料 抓取json檔案
                    type:"POST",
                    url: '/login',
                    data:JSON.stringify({'username':name,'password':pws}), //post form
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(res) { //連到伺服器
                        console.log(res);
                        $('#result').html(res);
                        console.log(res['msg']);
                    }
                });
                return false; //讓她不會reload
             });
        });
    </script>
</head>
<body>
    <div>
        <h1>Search</h1>
        <form id="form_login">
            <label for="name">name:</label><input id="name" type="text"><br>
            <label for="pws">pws:</label><input id="pws" type="text"><br>
            <input id="btn_login" type="button" value="Login">
        </form>
    </div>
    <div id="result_div">
        <p id="result"></p>
    </div>
</body>
</html>

