<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="逢甲大學 iOS Club 為台灣第一個與蘋果合作之社團，希望能透過逢甲 RTC 區域教育培訓中心，讓本社團之學生能夠充分利用學校資源，培養程式設計的基本能力與邏輯觀念。本社團將會規劃許多程式開發課程，從基本的邏輯觀念，到讓同學自行創意發想 App。希冀100%的社員都對 App 有基礎概念，並能熟練程式設計，甚至精熟這項領域。"
    />
    <title>tmp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <h1>{{account}}'s home</h1> -->
    <header>
      <div class="container logo">
        <nav
          class="navbar navbar-expand-lg navbar-light navbar-collapse-center navbar-center"
        >
          <a href="#">
            <img
              src="../static/img/logo_black.png"
              alt="iOSClub"
              id="logo_black"
            />
          </a>
        </nav>
        <div class="container top-nav">
          <nav class="navbar main-nav navbar-expand-lg navbar-light">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a href="#" class="nav-link">社課資訊</a>
              </li>
              <li class="nav-item">
                <a href="announcement.html" class="nav-link">社團公告</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">活動資訊</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  more
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">請假</a>
                  <a class="dropdown-item" href="#">社課資源</a>
                  <a class="dropdown-item" href="#">設備借用</a>
                  <!-- 以上為社員功能 -->
                  <a class="dropdown-item" href="#">請假審核</a>
                  <a class="dropdown-item" href="#">設備借用審核</a>
                  <a class="dropdown-item" href="#">上傳社課資源</a>
                  <a class="dropdown-item" href="#">出席率報表</a>
                  <a class="dropdown-item" href="#">設備現況更新</a>
                  <a class="dropdown-item" href="#">社課錄影</a>
                  <!-- 以上為幹部功能 -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">還沒想好放什麼</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light auto-hide-header"
        >
          <img
            src="../static/img/icon_head.png"
            alt="iOSClub_icon"
            style="width: 3%;"
          />
          <a
            class="navbar-brand"
            href="#"
            style="padding-left: 10px; margin-left: 12px;"
            >iOS Club</a
          >
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">社課資訊</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">社團公告</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">活動資訊</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  more
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">請假</a>
                  <a class="dropdown-item" href="#">社課資源</a>
                  <a class="dropdown-item" href="#">設備借用</a>
                  <!-- 以上為社員功能 -->
                  <a class="dropdown-item" href="#">請假審核</a>
                  <a class="dropdown-item" href="#">設備借用審核</a>
                  <a class="dropdown-item" href="#">上傳社課資源</a>
                  <a class="dropdown-item" href="#">出席率報表</a>
                  <a class="dropdown-item" href="#">設備現況更新</a>
                  <a class="dropdown-item" href="#">社課錄影</a>
                  <!-- 以上為幹部功能 -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">還沒想好放什麼</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../templates/login.html">login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <td class="t_f" id="postmessage_6025">
        最後一名的老師<br />
        老師這個名詞在我心中，有一種特別的感覺，因為在我最難過時，第一個幫助我的人是老師，所以我一直把這人放在心裡面，從來沒表達出來:在來第二個幫助我的人就是朋友，所以我一直把友情看的很重，所以都願意為朋友，直到高中時.....<br />
        <br />
        因為成績的關係我就讀了一所在別人口中是不好的學校。學校裡的學生大部分都來自個學校的後段班，但是並不全然都是成績不好的學生，有些因為喜歡這學校的科系才來讀的。不過風評不是說很好，但是它至少還是國立的高中學校，所以想說算了，反正也沒得挑了。<br />
        <br />
        在一年級時，我是一個安靜很乖巧的學生，成績在這班上並不差，因為班上想讀書的同學並不多，而且我們班又是門檻最低的那一科，我讀的科系叫農業機械科，現在應該找不太到這種科系，大部分都廢除或是改掉，因為也沒人想學。不過我怎會選這一科，其實當初選這一科我自己也不知道這到底是學什麼東西的，沒聽過！<br />
        <br />
        所以老師大多數來教我們班都有一些心理準備，並不會給我們太難的題目，因為是這學校最低門檻的班級。我們上課時都在講話打鬧，滿吵的，或是中途離場翹課等等..根本沒什麼人在聽，不過我有在聽，因為我覺得我自己跟我們班差很多，我不會飄車，不會喝酒抽煙，不會打架，不會跳八家將，也聽不懂他們改車什麼的，或是上酒店之類的種種話題，這些我都不懂，所以我完全不知道該怎樣去跟班上的同學互動，他們也不知道該如何跟我聊天，我在這班上算是一個書獃子，安靜又不多話，我也一直都在隱藏自己，也害怕被欺負。<br />
        <br />
        後來慢慢的我熬過一年升上二年級，跟班上的同學也是沒什麼交集，總是跟最乖的人在一起，因為在這一年裡，我看到許多打架的事件，也看到許多班上找了的校外人士，所以我不知道是防備，還是怕惹禍上身，始終跟班上的問題人物保持距離，算是保護自己，雖然大家在同一各班級但是根本就不同世界。<br />
        <br />
        不過到二年級時，我們的班導也換人了，他在這一年裡滿辛苦的，總是要處理許多打架事件，還有逃學、翹課、在教室抽煙、找校外人士來學校、很多的雜事，我想他應該也不想在當我們的班導，不過我們一年級的班導，他很好，他還是一直很關心我們班到畢業；他下任後來了一個新的班導，他剛接手我們班就發現我們班有很多的問題，所以他一直不喜歡我們班，他壓不住我們班，彼此的觀念也有很明顯的懸異差別。他不喜歡我們這一班，相對的班上也沒學生喜歡他；不過我總覺得我好像在哪裡看過這老師，有種很熟悉的感覺。<br />
        <br />
        後來有一天在上課時，我就跟後面的同學講話，沒想到我們班導既然拿粉筆丟我，於是我就很生氣，瞪著老師，心理想，當老師就可以那樣阿！<br />
        <br />
        後來下課時，我們班導就找我去聊天，他說我看起來乖乖的為什麼要那樣，我不知道，有可能在這班上待久了，自己也感染到那種態度。<br />
        <br />
        他開始跟我說很多話，想逗我開心化解尷尬，從那天之後，我開始注意到這新的班導，不是他關心我的關係，而是我總覺得他很像曾經幫助過我的老師，所以我開始認同這位老師重新認識，也看到他對我們班的用心跟付出，只是我們班一直都不喜歡他，他也拿我們班沒什麼方法，因為彼此的態度都很強硬，誰也不讓誰。不過我們老師他以前教的學生比較乖，所以他一直沒辦法認同我們班，覺得當學生就是要有學生的樣子，怎麼可以逃學在教室抽煙呢！<br />
        <br />
        他的思想是對的，這是我剛開始認為了，可是後來我變了，因為我看到師長眼中不一樣的我們。<br />
        <br />
        之後慢慢的我會跟這位老師聊心事，他也對我很好，很關心我，因為在這班級中，只有我跟他最親近，所以我從我們班導那裡得知他對我們班的關心跟用心。<br />
        <br />
        他也會一直問我，為什麼我們班要那樣，不好好讀書浪費時間，也不珍惜生命翹課飄車，總是做出許多讓師長擔心的事，而且出去外面發生問題時，又要父母跟老師去善後，為什麼！<br />
        <br />
        那時候我真的回答不出來！每次只是靜靜的聽著，聽他擔心我們的話，聽他罵我們班的話，從那之後，我想了很多，想到以前有被老師幫助過，那麼現在的我又能為老師做些什麼。<br />
        <br />
        因為一個『老師可以為30個學生付出關心，一付出就是幾十年，但是相對的30個學生不一定會感謝老師，一句感謝有可能是你懂事以後的某一天』，所以我在想我能做什麼，因為我自己也不知道該怎麼去幫助一位老師，後來我想了很多。<br />
        <br />
        我開始下定決心我想幫他，於是我跟老師先說好，也串通好，我開始改變自己融入問題學生的世界，他們的世界是直爽真實的，不掩飾做自己。我聽過他們的心事之後，會去跟我們老師說，讓老師更瞭解我們班，我也越來越瞭解他們到底是怎樣子的人，開始改觀舊有的刻版映像，看見真正的他們。所以慢慢的我也變了一個人，開始會翹課，對其他老師口出惡言，逃學等…這一切都是為了我們老師，不過我們老師怕我會真的變壞，所以一直很擔心我，但是為了不讓他擔心，我沒有學會抽煙，也沒有喝酒吃檳榔，我只想讓他知道，我只是做做樣子，其實我還是原來的我。<br />
        <br />
        後來我們班也覺得很奇怪，我怎麼突然變個人似的!<br />
        <br />
        從乖乖的學生，變成會跟他們出去飆車翹課。不過他們也覺得這樣不錯，因為又多了一位朋友，出去外面跟在學校裡，他們開始很挺我，這是我從未有過的感覺，因為我朋友很少，一直以來都是孤單一個人。在高中之前有被欺負過，也有想不開過，所以對學校這個環境有點恐懼，我也不會主動去跟同學聊天，一直把自己封閉在自己的世界裡，不懂得怎麼去跟別人做互動，所以現在好不容易交到朋友，我開始感覺到自己的存在跟安全感，這是我ㄧ直追尋的東西，沒想到從那些壞學生身上所得到的。他們不是師長口中的垃圾，不要罵他們...<br />
        <br />
        我們班開始為了我被老師罵跟記過，他們開始為了我出去外面跟人家打架，為了我說得每一句話，沒有猶豫的就去做，幫我，讓我很感動，我也開始放開心房真正的跟他們當朋友，慢慢的，他們在我心目中變重要了，可是我沒忘記我的任務，所以不管他們做了什麼事，隱藏在好我們班導都會知道，因為是我跟他說，所以我們班在私下都說他很神，怎麼什麼都知道，但是他們卻不知道那是我說的。<br />
        <br />
        於是慢慢的我跟我們老師有一種默契在，例如我跟他們翹課完之後，就回去跟他報告我們班今天所作的事，有些他會生氣去罵我們班，或是處法等等…漸漸的我開始懷疑這樣的我到底是對還是錯，因為他們對我真的很好，我們老師也對我很好，我開始猶豫覺得好像對不起這些朋友，因為這是我第一次交到那麼多朋友，而且是真心的。老師你知道嗎，我的家人知道嗎，在你們眼中他們是不好的人，但是卻是保護我的人。<br />
        <br />
        於是我跟我們班導說，以後有什麼事，先罵我，不要罵我們班，演演戲，把你關心他們的話說出來，不管怎樣先罵我，這樣我們班也不會討厭我們班導，因為他們不喜歡老師一直唸，一直罵，只要我們老師不這樣做，暫時還可以維持不錯的關係。不過我也會捨不得他罵我們班，只是我沒跟我老師說而已，我希望大家可以一起畢業，到畢業那天，一個都不能少。<br />
        <br />
        所以慢慢的很多事情在表面上變成好像我一個人去扛全部的事情，其實並不是，我跟老師都先說好了，所以我不是他們想像中那麼有義氣的人，因為這一切都是假的，我只是一個向老師通風報信的人，因為這樣，老師對我很好，他們也說我很重義氣，只是我開始覺得自己什麼都不是。<br />
        <br />
        日子一久之後我開始迷惘了，我覺得我自己好像做錯事情一樣，因為我一直都在出賣我們班，可是又覺得這樣好像是為他們好，老師也跟我說這樣是在幫助他們。<br />
        <br />
        但是我覺得不對，我只是一個兩邊討好的人，全部的好處都在我身上...<br />
        <br />
        這種矛盾雙面的角色，讓我慢慢的真的變了，我開始真的想翹課陪他們出去玩，我開始為他們打架，開始抽煙，開始喝酒，而且我是認真的，不後悔，只是我在我們老師面前還是表現的一樣，把話說的很好聽讓老師繼續相信我，他也覺得我是一位懂事貼心的學生，能幫他分擔一些煩惱，但是其實我不是了，我變壞了。<br />
        <br />
        後來我們老師也開始覺得不對勁，因為我好像真的變了，他開始更關心我，希望我回頭不用在幫他，好好的讀書，可是我跟他說︰老師，你真的很好騙耶，我只是隨便說說的，你也相信阿，最好有學生會幫老師的，我又不是傻瓜，我一直在利用你，這樣我就可以大大方方的翹課逃學了，而且沒想到你都沒記我過，真是白癡！<br />
        <br />
        我說了這些話之後，讓他很難過，很傷心，因為他一直向其他老師解釋其實我不是那種學生，我只是在演戲而已！<br />
        <br />
        不過有很多老師跟他說，不要被騙了!<br />
        <br />
        老師，他們說得沒錯，我騙你的，我不是你想像中那樣單純無心機。我們班導一直很信任我，常在背後為我跟其老師道歉，他也常為我們班跟學校求情，我知道，我們班不知道，有些我不知道，因為他不會跟我說。<br />
        <br />
        後來我跟我們老師的關係忽近忽遠的，他生氣了，也不在那麼信任我，覺得我跟他說的心事都是編出來的，其實那些都是真的，不過不會有人相信的，老師你也不相信了。之後在學校裡，我看到他也不會跟他問好，有時候他也不會理我，我想他是真的生氣，我讓他失望了，不過事情跟想像中的不一樣，因為我會那樣，是因為我不想對不起我們班，我也希望我們老師可以真的罵我就好，這樣我們班就不會討厭他，我開始真的把一些事情扛下來，默默的暗中幫助我們老師，把我們老師私下關心我們班的話，講給我們班聽，雖然有時他們也不太領情，可是我跟他們又是好朋友，所以多多少少比較不會像以前一樣，對我們老師的態度好像有近一點，雖然很緩慢，但是好像有進步。<br />
        <br />
        『我一直希望我們班可以喜歡我們老師，因為他對我很重要：我也希望我們老師會喜歡我們班，因為他們真的對我也很重要』，你們都是我的家人，是我在這段時間發現的。<br />
        <br />
        慢慢的我會為了我們老師跟他們會有一些衝突，因為我希望我可以幫助我們老師改變他們，可是我也為了他們跟老師吵架，有時後會覺得自己裡外不是人，後來家人也發現我在學校偏差的行為，開始回到家就一直被罵，因為他們不明白那位安靜乖巧的小孩跑去哪了，如今變成玩到半夜，會翹課，全身都是酒味的人，我真的不知道怎麼跟家人解釋，我怎麼跟他們說，我是因為我要幫老師，我想保護我們班，所以我變成今天這樣子，誰會相信我，連我們老師都不相信現在的我。因為你們什麼都不懂，老師不懂，我的家人也不懂，你們是不會瞭解我的心情的。<br />
        <br />
        當初因為我家管的很嚴，都不准我跟同學出去玩，太過於保護我，讓我開始交不到朋友，因為每次同學也找我出去玩，我都不行出去，所以漸漸的他們也遠離我，不在找我做任何事。在學校裡跟同學找不到共通的話題，我自己也不懂得怎樣去跟別人做互動，所以開始比較安靜，後來又被欺負。其實我的心裡是有點恨我的家人的，都是因為他們我才沒朋友的，他們也不懂那時候我在學校過的怎樣，被排擠，被欺負，被取笑，被捉弄，這些都是因為我是一位懂事聽話的小孩，我聽父母的話，假日留在家裡做家事不跟同學出去玩，但是後來我得到什麼，我只是得到被欺負，沒有朋友，總是一個人...<br />
        <br />
        之後我都會翹課去找老師，每次明明有很多話想跟他說，但是卻說不出口，因為他不會相信我的，所以我只是去看他好不好，逗他開心，或是做一些沒意義的事，希望他心情會好一些，但是我們班導對我還是有些防備不信任，因為那些話的關係，不過當他心情不好時，我一定會去找他，被他罵也好，被其他老師調侃也行，我不在乎，我也會買飲料放在他辦公上，而且開始有讀書，我的平均變高了，我只是在暗示他我沒變，老師你知道嗎！<br />
        <br />
        我有好多話想跟老師說，只是我不知從何說起，你們真的對我很重要.....<br />
        <br />
        不過在跟我們班相處了這段時間，我開始發現許多不公平的事情，也想為他們為自己反駁，因為根本就不是老師他們想的那樣！<br />
        <br />
        例如他們打架，可是打的人是不好的人，都是一些在學校只會欺負弱小很臭屁的人，可是老師不瞭解，只是覺得他們愛打架鬧事，這也是我後面才發現的，原來他們不像外表那樣可怕不懂事，其實每個人都很善良懂事，只是沒被師長發現而已，因為有時候跟他們出去外面，如果看到一些需要被幫助的人，他們會捐一些零錢，可是在學校裡卻沒有師長發現他們有這一面，都覺得我們班是垃圾，沒有前途；有很多不分職業年紀大小的人，如果看到馬路上有人需要被幫助，有幾個人會停下來，有看起來外表很有成就的大人，有溫柔的媽媽，有好班的學生，有那麼多在平常人眼中是聰明懂事的人，但是有誰真的停下來，不過我們班卻停下來了，停在一個看起來髒髒的乞丐面前，什麼都沒說，捐了一些零錢，沒想到他們是在學校讓師長頭痛，會打架，會飄車的人，在我眼中他們比那些平常愛說道理背後都為了自己的老師還要來的好，因為他們實際上做到了，雖然外表不懂事，可是內心卻是好看的！<br />
        <br />
        每次學校只要發生事情，師長第一個連想到的一定是我們班，但是當我們需要關心，他們卻不是第一個關心我們的人，因為成績的關係，怎麼排也輪不到我們!<br />
        <br />
        可是當有不好的時候，我們卻是第一個被想起來的人<br />
        <br />
        因為我覺得[老師只會記得第一名的學生，不會記得最後一名的學生]，給第一名的關心跟疼愛永遠都是最多的。<br />
        <br />
        有老師會記得成就不好的學生嗎，會說我有一個學生現在在做水泥工，我覺得他不錯，會有嗎！<br />
        <br />
        應該大部分的老師只會說我那學生考上好學校，現在也是當老師，或是醫生開店等等..難道那些不好的，真的讓老師覺得丟臉嗎!<br />
        <br />
        職業不是沒有分貴賤，那麼成就為什麼會有分高低呢，這是我一直不懂的。<br />
        <br />
        所以像我們這種成績不好的學生，常常是在學校裡容易被師長忽視掉的人，反正我已經習慣了，沒差。<br />
        <br />
        我想過教育是什麼！<br />
        <br />
        教育不就是為了教導孩子的思想，和糾正他們的行為而存在的嗎，好學生跟壞學生都是需要被教育的，如果學生犯錯，就把他退學，或者是選擇放棄，那麼教育只是一種做做表面的東西嗎，不要把學生當作選擇題只挑選自己想要的，在學校每個學生都是平等的，一樣的眼光，一樣的看法，而且學生真的有好於壞之分嗎，那只是你幫他貼上標籤！<br />
        <br />
        [被放棄掉的學生往往都是最被需要教育的人，但是身為教育的人，卻不認為這些人需要教育]，因為他們放棄了。<br />
        <br />
        『我們不會是老師放棄的第一位學生，但是也不會是最後一個』<br />
        <br />
        因為我們班就是被許多老師所放棄的學生<br />
        <br />
        我瞭解那種感受<br />
        <br />
        有時候我想跟老師說，並不是只有好學生才會難過<br />
        <br />
        當他們難過的時候，那才是真實的<br />
        <br />
        不是只有他們需要鼓勵跟關心<br />
        <br />
        我想說得是，壞學生跟成績不好的學生也會<br />
        <br />
        當我們難過時，也是真的，但是不會有人安慰<br />
        <br />
        因為我們的態度讓人家看起來並不需要安慰<br />
        <br />
        老師你知道為什麼嗎？！<br />
        <br />
        因為如果有一場比賽，好學生跟壞學生跑在一起<br />
        <br />
        場外為好學生或是成績好的學生加油的人<br />
        <br />
        裡面一定有老師，有主任，有校長，有自己的同學<br />
        <br />
        當他們摔倒時，會有老師心疼關心他們<br />
        <br />
        當他們輸掉比賽時，會有很多人安慰他們<br />
        <br />
        因為每個人都覺得成績不好的學生<br />
        <br />
        或是壞學生運動本來就是比較好了<br />
        <br />
        贏了好像是理所當然的<br />
        <br />
        所以在場上為我們加油的人，有時候只有自己的同學<br />
        <br />
        不一定會有老師為這些學生加油，覺得他們也努力過。<br />
        <br />
        我常常為了很多事情跟老師吵架，因為開始覺得他們根本就不瞭解我們，所有老師都一樣，還不是為了錢公家機關才當老師的，總是把話說得很漂亮，但是不要忘了自己還不是為了錢；在學校裡有些老師記學生過，把學生退學，我覺得這是有什麼好得意的，這不是也間接表示你的教育失敗了，但是卻有老師把這種事情當作是一種榮耀！<br />
        <br />
        而且『當學生表現不好時，是學生自己的責任；當學生得獎時，卻是老師的功勞』有時後我覺得我們什麼都不是，我們只是教育下的傀儡。<br />
        <br />
        當自己的教育失望時沒人敢承認，一謂的往學生身上推。表現不好是我們自己責任，表現好卻是老師的功勞。有時候在學校只要有畢業生出社會有成就，就會有很多的老師搶著來認領，爭相恐後的一定要沾上邊，但是當有畢業生在外面出問題時，身為教育的人，躲著躲，推的推，全部都是學生自己本身的問題，如果學生懂事沒問題的話，那麼還需要教育嗎，還需要老師嗎！當老師不是就是為了教育而存在的，當你放棄學生時，你早就已經不是老師了，因為你已經忘了自己的存在不是嗎!<br />
        <br />
        在學校裡，在師長面前，成績不好的學生或是壞學生總是活在批評下，出去外面被閒言閒語的，難道成績不好就什麼都不好嗎，我們到底做錯了什麼。所以我們很高傲自以為是的，因為如果不這樣，心理還是會有點難過，所以我需要那樣來保護自己，也因為我對老師態度不好，老師也比較不會關心我，這樣當我做壞事時，心理才不會有任何愧疚。所以我在老師面前總是自以為是，我想他們不懂，他們也不明白那種心情，因為能當老師的人必定是受到很多鼓勵跟疼愛的人，所以他們不明白成績不好的人那種心情，想努力卻無能為力。如果可以的話，誰都希望自己也是第一名，但是本來每個人的能力就不同，怎麼能依成績的高低，就來認同這人的多寡。<br />
        <br />
        老師你瞭解我們嗎！<br />
        <br />
        我開始懷疑我們老師是不是跟那些老師一樣，因為我們有些觀念開始不同，我懷疑他，他也質疑我。時間慢慢的讓我升上三年級，跟我們班導的關係，好像不好了，因為他開始會記我過，要我罰站，很大聲的罵我，我一樣會頂嘴，為了我們班，我變得好像什麼都不怕，不怕被記過，不怕被退學，但是我卻不知道我們老師還是最關心我，只是現在我們面見有時像敵人一樣，互相攻擊對方，好像以前他關心我是假的，好像那時候私底下去逗他開心我到底為了什麼，開始不太確定了。<br />
        <br />
        不過我卻記得那時候我問過我們老師，如果當有一天我們變不好了，你還是會關心我嗎，我還是你的學生嗎。那時候我們老師說，會的，我一輩子都是他的學生，他也用懷疑的態度覺得我們應該不可能吵架，因為那時我乖，他對我最好，只是後來全變了，我變了。<br />
        <br />
        我會在教室抽煙，我會拿棍打人，我會很認真的罵我們老師，只是我都不知道，其實他一直沒放棄過我。我每一個挑釁都讓他越來越擔心我，只是他沒表現出來，在私下會跟一些老師提起，因為他很關心我跟我們班。<br />
        <br />
        後來我常被老師罵，我也不削，他開始跟其他老師一樣，用記過跟退學威脅我，但是我一點都不怕，要記就記，退就退，這都是老師放棄學生慣用的方式，我不妥協，也不在乎。我身上每各記號只是證明老師教育失敗的點，這些點也是老師自己留下來的，我不反駁，因為該反駁的人不是我。<br />
        <br />
        三年級那時跟老師的關係就這樣一直處於在邊緣地帶，我開始沒在跟他問好過，但是有時候他還是會來關心我，只是我每次都愛理不理的，因為這些都沒必要了，我決定要跟我們班一樣，我要保護曾經保護過我的人。因為是我欠他們的，他們為了我打架，相對的，換他們有麻煩我可以什麼都不做嗎，這只是做人的基本道理，人家幫助你，欠人情還是要還，所以我有時候不得不那樣。<br />
        <br />
        但是我又欠我們老師什麼。<br />
        <br />
        開始我的曠課跟記過越來越多，但是我從來也沒去注意過，平均每一天都會曠課兩三節，跟著我們班出去或是在學校裡胡搞瞎搞的。有時候曠課的時候還會經過我們老師上課的班級，但是我們一點都不想理會他，要罵就罵，怎樣都行，反正老師也只會那樣而已，還能拿我們怎樣，我的心理是這麼想著。<br />
        <br />
        不過有時候我還是會回想以前跟老師的一些事情，因為他很關心我，現在卻變成死對頭，我不在乎，我想他也不在乎罷！<br />
        <br />
        後來因為我們班曠課跟記過太多了，所以學期末的總成績底的跟什麼一樣，很多人都要被退學，或是一些科目要被當掉，但是學校還是會給學生機會，會記一張單子給家長簽保證書之類的，可是每次都沒有我的，我也不知道為什麼，我們班也問過我，明明大家都一樣，可是有很多事情我們老師幫我擋下來了，我想到過，我也猜過，因為有一次去導師室罰站時，我看到那抽屜裡有許多的記過單，裡面有我有我們班，沒被送出去的記過單，滿滿的一個抽屜，他的煩惱都在這裡面，我想老師應該是捨不得罷。<br />
        <br />
        只是現在已經不是當初的我了，那時候我心理真的很迷惘，我一直在想，我一定會有方法的，所以最後我還是決定跟當初一樣，還是一樣暗中幫我們老師，我們班都會說他是我爸阿，為什麼要對他那麼好，可是他們也感覺到我們老師好像對我特別好，因為只是我惹事他會特別生氣，只要我曠課不在學校，他會擔心開始心情不好的罵著我們班那些留下來的人，我想他不想放棄我罷。<br />
        <br />
        最後我們班開始知道老師對我有些重要，因為他們看過我翹課去找他，他們也看過我會買飲料放在他辦公桌上，所以開始有些人會說我是老師的走狗，他們開始懷疑一些事情，因為在老師面前我跟他們一樣頂嘴，但是在私底下卻幫老師說話，可是不管怎樣，我一點也不在乎。之後時間一久了，我們感情又變更好了，所以他們也開始覺得沒什麼了，可是我跟我們老師的關係，還是不像以前那麼好，因為他還是一直防備著，他怕我又利用他，只是我已經不會了，也早就不會了。<br />
        <br />
        後來每次看到我們老師我都有很多話想說，可是說不出口，也解釋不了<br />
        <br />
        我只想跟我們老師說，你跟我們班都對我很重要<br />
        <br />
        可以讓我從一個膽小怕事的人，為了你們去打架<br />
        <br />
        可以為了你們不顧家人反對去跳八家將<br />
        <br />
        可以為了你們不被家人諒解<br />
        <br />
        可以為了你們被記過卻覺得值得<br />
        <br />
        只要能為你們做事，我好像都不會猶豫<br />
        <br />
        你們真的對我很重要，如果可以把生命當作禮物送給你們<br />
        <br />
        我會願意，我也會放棄自己所擁有的。<br />
        <br />
        開始越來越接近畢業，不知道為什麼，內心總是有種不安的心情，我開始很珍惜所有的一切，我想利用剩下的時間完成我所要做的事情，只是到最後好像還是差不多，我們班跟老師的關係，一直卡在同一個點上，而我就站在這點上，想去平衡每樣事情。<br />
        <br />
        慢慢的我跟以前一樣，會想去找老師聊天，會擔心他心情好不好，是不是又在為我們班煩惱了，所以我會翹課去找他，有時候他在上課，不知道我在教室外，我只是有些話想說，可是卻不知道從和說起，於是我開始寫信，寫了很多信給我們老師，因為有時候一些話我說不出來，我都會寫信給他，跟他說我的心事，或是我們班的事。<br />
        <br />
        漸漸的我跟我們老師的關係，好像又變好了，他還是最關心我，最擔心我，直到畢業那一天，我拿到從他手中的畢業證書，那一刻我真的很捨不得。<br />
        <br />
        老師<br />
        <br />
        畢業之後出去打工，常常被客人看不起<br />
        <br />
        他們有時會跟我們這些工讀生聊天<br />
        <br />
        會問我們讀哪個學校<br />
        <br />
        每次我都是大大方方的說虎尾農工<br />
        <br />
        不過有些人聽到我就讀的學校，就立刻冷眼看待，跟就你沒有話題可以聊了<br />
        <br />
        好像刻意開始避開你，或是開始應付一下的口氣就不會在跟你聊了<br />
        <br />
        有時候會問我說，有更好的怎麼不去讀，應該是沒能力<br />
        <br />
        老師，你覺得我該怎麼回答他<br />
        <br />
        因為我的同事有人是好的學校畢業，當那些客人知道他們讀哪時<br />
        <br />
        就不會理我了，不管我多有禮貌，好像都是假的<br />
        <br />
        他們會開始熱情的問他們學校如何，成績好，很好不錯<br />
        <br />
        而且又是乖巧懂事，這麼小就出來打工賺錢，以後一定有前途<br />
        <br />
        我每次都在旁邊聽著，我不知道該說什麼，我習慣了<br />
        <br />
        所以我笑笑的聽著他們的對話<br />
        <br />
        『學歷好就像是一套好的西裝，出去社會每個人都看這一面』<br />
        <br />
        像我們的學歷破破爛爛的，出去總是被笑<br />
        <br />
        之後我大學也是爛學校，出去外面<br />
        <br />
        好多人覺得我家教不好，覺得我高中老師教的不好<br />
        <br />
        因為我在打工時，總是會有客人問我好多我回答不出來的問題<br />
        <br />
        有人問：是不是家境不好，要不然怎麼會出來打工<br />
        <br />
        我只是默默的點點頭..<br />
        <br />
        有人問：怎麼出來打工，你父母不養你阿！<br />
        <br />
        我說，因為家境的關係<br />
        <br />
        他們說，像我這種小孩子，沒有好的環境，心理一定不正常<br />
        <br />
        我只是笑笑的，這樣算懂事嗎。<br />
        <br />
        我已經習慣這一切，我習慣一個人，習慣家境不好被挑釁，習慣每年過年都在看父母吵架，習慣年夜飯是跟別人借錢買來的，習慣成績不好被老師一直罵，習慣出去打工被看不起，習慣別人取笑我的表情，習慣看父母親吵架，習慣沒有錢買早餐，習慣一整天都不說話，習慣在每個人面前都笑笑的，我習慣我人生就是這樣，沒什麼好爭的。<br />
        <br />
        從以前到現在，我總是讓你丟臉<br />
        <br />
        老師對不起，我不是第一名的學生，所以也讓你變成最後一名的老師<br />
        <br />
        老師對不起，我現在不會想回學校，我不想讓你在別的老師面前丟臉<br />
        <br />
        老師對不起，我沒有什麼好的成就，所以現在連請你吃頓飯都做不到<br />
        <br />
        每次出去外面當有人問我高中老師是誰時，我不會說你的<br />
        <br />
        你不是我的老師，我也不是你的學生<br />
        <br />
        老師對不起，我是最後一名，我始終做不到想為你們做的事情。如果我可以，我會....<br />
        <br />
        畢業了，我們不像以前那樣好了，所以不用在關心我們，也沒所謂的擔不擔心，因為一切都過去了。<br />
        <br />
        老師，我記得我跟你說過，我很想跟老師一起打球，這真的是我心理很希望做的事情，因為我一直是成績不好的學生，從以前就很羨慕能被老師關心的學生，羨慕他們可以跟老師打球，或是一起出去。不過有幾次機會，我總是不要，那是因為我不想去實現它，這樣我會少一樣可以讓期待給我希望的東西，所以我不實現。<br />
        <br />
        我一直記得老師你很喜歡手錶，畢業那一年我為了想賺錢想買手錶給你，我做了全職，從早上6點半到晚上11點半，雖然很累，但是我卻很開心，因為我一直記得畢業那天，別班的老師收到很多花或是禮物，你卻沒有，我真的很想送你什麼，只是我沒錢，所以那時候我一直打工賺錢，只是到最後錢存到了，我卻沒買，因為那時我家需要錢，我給他們，我好不容易存到有10萬多了，可以買了，但是後來都沒有了，我也把剩下來的錢拿去繳學費。但是我的心理一直沒忘記過，我一直記得這件事情，每次當自己工作累了時候，只要想到這件事，就覺得自己不會累，也真的不會累，慢慢的這也變成支撐我的一樣東西，當我有能力做到時，對我來說，我才真正畢業。<br />
        <br />
        送給虎尾農工 李俊寧老師（呢菌鈴），講話沒重點，愛一直重覆！<br />
        <br />
        後記<br />
        <br />
        而且我們老師有個缺點，那就是他在說謊時，只要他覺得他自己騙過你成功之後<br />
        <br />
        表情就會像藏不住的喜悅那樣，所以每次我都先選擇相信他<br />
        <br />
        這樣才可以看到他說謊的樣子，真是天真可笑，怪不得當老師，傻B！<br />
        <br />
        而且他很愛面子，又愛講道理，所以每次我都會露出滿臉矛盾的表情看他<br />
        <br />
        他就會開始懷疑自己是不是要講下去，因為他覺得我這年紀還聽不懂<br />
        <br />
        其實不是的<br />
        <br />
        我是要讓他閉嘴，讓他知難而退，哈！<br />
        <br />
        不過他的個性滿愛面子了，老人小孩，任性<br />
        <br />
        只要遇到他，沒跟他說老師好，有可能會讓他氣個兩三節課<br />
        <br />
        再來如果頂嘴罵他死老頭，有可能他會兩三天或是更久不理你<br />
        <br />
        如果你罵他，那麼老了，越來越沒用<br />
        <br />
        他應該會永遠不理你，我就是這樣被他放棄的，是罷老師！<br />
        <br />
        最後上面這幾段他看到之後，應該會說為什麼最後要寫這個<br />
        <br />
        老師我想說的是.........乾你屁事阿，生日快樂，哈。<br />
        送給虎尾農工的李俊寧老師<br />
        作者 蚯蚓
      </td>
    </div>
  </body>
</html>
<script src="../static/js/tmp.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/tmp.css" />
